#for the provider section
my_subscription_id = ""
my_client_secret = ""
my_tenant_id = ""
my_client_id = ""
my_object_id = ""

prefix = "drupalcon3"
location = "canadacentral"
db_location = "canadacentral"
rg = "betsy-innovation-rg"

# Database
db_sku = "GP_Gen5_2"
db_driver = "pgsql"
db_name = "drupalcon3"
key_vault_sku = "standard"

# these are to be passed on to the drupal database configuration via key_vault
db_username = "drupal"
db_password = "*********"
key_vault_resource_group_name = "betsy-innovation-rg" 
key_vault_name = "irongate"

